@charset "UTF-8";

// tag
body {
  color: #fff;
  background: #141414;
}

li {
  color: #000;
}

.navbar div input {
  height: 1rem;
  margin: 0 5px 1px 8px;
}

.card {
  color: #000;
}

// Video Information
// ID 指定なんかしちゃってるから class 指定にしてあげる
#now_playing_title {
  float: left;
}

div.video-action {
  position: absolute;
  margin-top: -15px;
  right: 0;
  min-width: 100px;
  font-size: 30px;
}

img#user_image {
  float: left;
}

a#now_playing_user {
  margin-left: 6px;
}

div.like-info {
  position: absolute;
  bottom: 20px;
  right: 10px;
  min-width: 100px;
}

input.form-control,
input.form-control:focus {
  color: #fff;
}

.btn-darkgray {
  background: #333;
}

.btn-white {
  background: #fff;
  color: #1a1a1a !important;
}

button.btn:hover {
  background: #c00;
  color: #fff !important;
}

.nopad {
  padding: 2px;
}

.card img.horizontal {
  display: inline;
}

.lp-description {
  padding-top: 10rem;
  padding-right: 15rem;
  padding-bottom: 15rem;
  padding-left: 15rem;
  color: #fff;
  background-color: rgba(255,255,255,0.3);
}

.height250 {
  height: 250px;
}

.scroller {
  overflow-y: scroll;
  height: 480px;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.dropdown-right {
    left: -200%;
}

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #b8860b;
  box-shadow: 0 1px 0 0 #b8860b;
}

.bg-darkgray {
  background: #111;
}

.bg-darkgray a {
  color: #fff;
}

.bg-darkgray > .navbar-brand {
  padding: 10px;
  color: #fff;
  background: #111;
  font-size: 1rem;
}

.modal {
  color: #111;
}

.contents a {
  color: #ffd700 !important;
}

//動画ページ
.show {
    .navbar div input {
        height: 1.5rem;
        margin-top: 0.1rem;
    }
    .navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a {
        color: #111 !important;
    }
    .card-block {
        a {
            color: #fff;
            &#now_playing_user {
                color: #4968e4;
            }
        }
        h5.urlTitle, .form-control, .md-form {
            margin-bottom: 0;
        }
        h5.card-title {
            width: 90%;
        }
        .md-form {
            input {
                height: 1.1rem;
                font-size: 0.8rem;
            }
        }
    }
    .pull-xs-right {
        padding-right: 20px;
    }
    #participants {
        padding: 2px 7px;
    }
    .bg-darkgray {
        position: relative;
        &:before {
            position: absolute;
            top: 58px;
            left: 0;
            width: 100%;
            height: 1px;
            box-shadow: 0 0 20px #fff,0 0 20px #fff;
            background: #fff;
            opacity: 0.8;
            content: "";
            animation: nv-line 3s;
        }
        @keyframes nv-line {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }
    }
    .gold {
        color: #755d41;
        background-color: #daa520;
        &:before {
            color: #b6a57a;
            -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%, rgba(0,0,0,0));
        }
        &:after {
            color: #fff;
            -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 20%, rgba(0,0,0,0.2) 36%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.2) 44%, rgba(0,0,0,0) 60%, rgba(0,0,0,0));
        }
    }
    .card-block {
        color: #111 !important;
        .fa-ban {
            color: #111 !important;
        }
    }
    .card-success {
        color: #fff !important;
        .fa-ban {
            color: #fff !important;
        }
    }
    .list-group-item, .btn-secondary {
        color: #111 !important;
    }
}

.likeCountArea {
    display: inline-block;
    text-align: center;
}

.how-to-use {
  color: #000;
  background: #FFF;
  a {
    color: #000;
  }
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
  }
  .step {
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
  }
  .step:first-letter {
    margin-right: .1em;
    font-size: 2em;
  }
}

.under-line {
  padding-bottom: .4em;
  border-bottom: 1px solid #ccc;
}
