li { color: #000 }
.navbar div input {
  margin: 0 5px 1px 8px;
  height: 1rem;
}
.navbar-dark div .form-control {
  color: #fff;
}

.nopad {
    padding: 2px
}

.card img.horizontal {
    display: inline;
}

.lp-view {
    background: url("http://xn--sdkzbwcz77qkh2b.jp/sozai/jpg/crw_1507_jfr.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.lp-description {
    background-color: rgba(255,255,255,0.3);
    padding-top: 10rem;
    padding-bottom: 15rem;
    padding-left: 15rem;
    padding-right: 15rem;
    color: #fff
}

.height250 {
    height: 250px;
}
