@charset "UTF-8";

p {
    margin: 0;
}
li {
    color: #000;
}
.navbar div input {
    height: 1rem;
    margin: 0 5px 1px 8px;
}
.navbar-dark div .form-control {
    color: #fff;
}
.nopad {
    padding: 2px;
}
.card img.horizontal {
    display: inline;
}
.lp-view {
    height: 100%;
    background: url("http://xn--sdkzbwcz77qkh2b.jp/sozai/jpg/crw_1507_jfr.jpg") no-repeat center center fixed;
            background-size: cover;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
}

.lp-description {
    padding-top: 10rem;
    padding-right: 15rem;
    padding-bottom: 15rem;
    padding-left: 15rem;
    color: #fff;
    background-color: rgba(255,255,255,0.3);
}

.height250 {
    height: 250px;
}

.dropdown-right {
    left: -200%;
}
$heightBox: 520px;
.scrollArea {
    overflow: scroll;
    height: $heightBox;
}


// body {
//   display: none;
// }

//common
@keyframes bg-color {
    0% {
        background-color: #0a0a0a;
    }
    20% {
        background-color: #000;
    }
    40% {
        background-color: #382b1d;
    }
    60% {
        background-color: #1f1f1f;
    }
    80% {
        background-color: #382b1d;
    }
    100% {
        background-color: #0a0a0a;
    }
}

input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #b8860b;
    box-shadow: 0 1px 0 0 #b8860b;
}

.navbar-brand {
    padding: 10px;
    color: #fff;
    background: #111;
    font-size: 15px;
}

.bg-primary {
    background: #111 !important;

.t_black {
    color: #000;
}
.bold {
    font-weight: bold;
}
//show
body {
    color: #fff !important;
    background: #000;
    animation: bg-color 10s infinite;
}
.contents a {
    color: #ffd700 !important;
}
.show {
    .navbar div input {
        height: 1.5rem;
        margin-top: 0.1rem;
    }
    .collapse {
        .form-control {
            padding: 5px 20px;
            border: 2px solid #fff;
            border-radius: 20px;
            color: #000 !important;
            background: #fff;
            &:focus {
                border-bottom: 2px solid #fff !important;
                box-shadow: none !important;
                background-color: #fff;
                outline: none;
            }
        }
    }
    .navbar.navbar-dark .breadcrumb a, .navbar.navbar-dark .navbar-nav .nav-item a {
        color: #111 !important;
    }
    .card-block {
        a {
            color: #fff;
            &#now_playing_user {
                color: #4968e4;
            }
        }
        h5.urlTitle, .form-control, .md-form {
            margin-bottom: 0;
        }
        h5.card-title {
            width: 90%;
        }
        .md-form {
            input {
                height: 1.1rem;
                font-size: 0.8rem;
            }
        }
    }
    .fa {
        font-size: 30px;
    }
    .pull-xs-right {
        padding-right: 20px;
    }
    #participants {
        padding: 2px 7px;
    }
    .horizontal {
        border-radius: 30px;
    }
    .iconR {
        position: absolute;
        top: 2px;
        left: 7px;
        width: 30px;
        height: 30px;
        background: url("/assets/images/icon_r01.png") 0 0 no-repeat;
        background-color: rgba(255,255,255,0.5);
        background-size: 30px 30px;
        content: "";
    }
    #user_image {
        border-radius: 100%;
    }
    .iconH {
        display: none;
        position: absolute;
        top: -7%;
        left: 7%;
        width: 78%;
        height: 100%;
        background: url("/assets/images/icon_h01.png") 0 0 no-repeat;
        background-size: 100%;
        content: "";
    }
    #comment {
        height: 2.1rem;
        font-size: 1rem;
    }
    .bg-primary {
        position: relative;
        &:before {
            position: absolute;
            top: 58px;
            left: 0;
            width: 100%;
            height: 1px;
            box-shadow: 0 0 20px #fff,0 0 20px #fff;
            background: #fff;
            opacity: 0.8;
            content: "";
            animation: nv-line 3s;
        }
        @keyframes nv-line {
            0% {
                width: 0;
            }
            100% {
                width: 100%;
            }
        }
    }
    .gold {
        color: #755d41;
        background-color: #daa520;
        &:before {
            color: #b6a57a;
            -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%, rgba(0,0,0,0));
        }
        &:after {
            color: #fff;
            -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 20%, rgba(0,0,0,0.2) 36%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.2) 44%, rgba(0,0,0,0) 60%, rgba(0,0,0,0));
        }
    }
    .card-block {
        color: #111 !important;
        .fa-stop-circle-o {
            color: #111 !important;
        }
    }
    .card-success {
        color: #fff !important;
        .fa-stop-circle-o {
            color: #fff !important;
        }
    }
    .list-group-item, .btn-secondary {
        color: #111 !important;
    }
}

.likeCountArea {
    display: inline-block;
    text-align: center;
}
