li { color: #000 }
.navbar div input {
  margin: 0 5px 1px 8px;
  height: 1rem;
}
.navbar-dark div .form-control {
  color: #fff;
}

.nopad {
    padding: 2px
}

.card img.horizontal {
    display: inline;
}
